.pagination {

	margin: 30px auto;
}

#blog_index{
    margin-top: 20px;
}

.lead{
    float: right;
}

.siderbar {
    position: absolute;
    top: 80px;
    right: 0;
}

#post_index {
    background-color: lightgray;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;


}

