<div class="row">
    {% for post in posts%}
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 index_post">
            <h2>
                <a href="{{ url_for('blog.post',id=post.id) }}">{{ post.title }}</a>
            </h2>
            <p class="lead text-right time_author">
                <span class="glyphicon glyphicon-time"></span> {{ post.timestamp}}
                &nbsp;&nbsp;
                <small>
                    by
                    <a href="{{ url_for('main.user',username=post.author.username) }}">
                        {{ post.author.name}}
                    </a>
                </small>
            </p>

            <!-- 这里还可以嵌套格图片
            <img class="img-responsive" src="{{ url_for('static',filename='16.ico') }}">
            -->
            <div  class="index_summary">
                {% if post.summary_html %}
                    {{ post.summary_html | safe }}
                {% else %}
                    {{ post.summary }}
                {% endif %}

            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;"/>

                <p>
                    <a class="btn btn-default" href="{{ url_for('blog.category',id=post.category.id) }}">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        {{ post.category.tag  }}
                    </a>
                    <a class="btn btn-primary" href="{{ url_for('blog.post',id=post.id) }}" style="float:right">
                        更多<span class="glyphicon glyphicon-hand-right"></span>
                    </a>
                </p>
            </div>
        </div>
        {% endfor %}
</div>




