{% extends "base.html" %}

{% block title %}醉心客 - {{ posts.category }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">
{% endblock %}

{% block page_content %}
<div class="row lujing">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="/blog">博客</a></li>
            <li class="active">标签-{{ category.tag }}</li>
        </ol>
    </div>
</div>


{% include "blog/_post.html" %}



<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 siderbar">
    <div class="well">
        <h4>标签</h4>
        <div class="row">
            <div class="col-lg-10">
                {{ category.tag }}
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
 <!-- /.row -->



{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'blog.category') }}
</div>
{% endif %}




{% endblock %}