{% extends "base.html" %}
{% import "blog/_macros.html" as macros %}

{% block title %}醉心客 - 博客{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">
{% endblock %}

{% block page_content %}

<!--路径标签 -->
<div class="row lujing">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">博客</li>
        </ol>
    </div>
</div>


<!--博客首页 base.html中的block page_content外
已有container,_post.html前自带了class="row"-->
{% include "blog/_post.html" %}


{% if pagination %}
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="pagination pull-right">
            {{ macros.pagination_widget(pagination, 'blog.index') }}
            </div>
        </div>
    </div>
{% endif %}


<!-- 右侧边栏-->
<!-- 要不要再加个class=“row”？siderbar时为了设置css让其固定在右上角-->
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 siderbar">
    <!-- 搜索组件 -->
    <div class="well">
        <h4>搜索</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    <!-- 输入框，具体怎么实现还不会-->
    </div>

    <!-- 标签栏-->
    <div class="well">
        <h4>标签</h4>
        <ul class="list-unstyled">
            {% for category in categories %}
                <li>
                    <a href="{{ url_for('blog.category',id=category.id) }}">
                        {{ category.tag }}
                    </a>
                </li>
            {% endfor%}
        </ul>
    </div>

        <!-- /.row -->
    <!-- Side Widget Well -->
    <div class="well">
        <h4>公告</h4>
        <p>
            今天放假！
        </p>
    </div>
    <div class="well" style="background-color: #C6E2FF">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=260 height=100 src="http://music.163.com/outchain/player?type=2&id=3950552&auto=0&height=66"></iframe>
    </div>
</div>


 <!-- /.row -->




{% endblock %}
